.tree-view {
    -fx-background-color: #CBDCEB; /* Background color of the entire TreeView */
    -fx-font-size: 16px;      /* Apply font size to cells */
}

.tree-view .cell {
    -fx-background-color: #CBDCEB; /* Background color for the cells */
    -fx-font-size: 16px;      /* Apply font size to cells */
}

.tree-view .virtual-flow .cell {
    -fx-background-color: #CBDCEB; /* Ensure virtualized cells have the same color */
    -fx-font-size: 16px;      /* Apply font size to cells */
}

.list-view {
    -fx-background-color: #CBDCEB; /* Background color of the entire ListView */
    -fx-font-size: 14px;      /* Apply font size to cells */
}

.list-view .cell {
    -fx-background-color: #CBDCEB; /* Background color for individual cells */
    -fx-font-size: 14px;      /* Apply font size to cells */
}



